.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  color: #000;
  padding-bottom: 20px;
}

.header_link {
  display: flex;
}

.header_user {
  display: flex;
}

.header_username {
  display: flex;
  align-items: center;
  margin: 0;
  padding-right: 25px;
  color: rgba(255, 76, 0, 0.87);
}

.header_auth {
  display: flex;
  justify-content: center;
  gap: 15px;
}
