.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  color: #000;
}

.header_link {
  display: flex;
}

.header_user {
  display: flex;
}

.header_username {
  display: flex;
}

.header_auth {
  display: flex;
  justify-content: center;
  gap: 15px;
}
